.book{

    perspective:1400px;

    transition:.35s;
}

.book-shell{

    display:flex;

    height:360px;

    transition:.4s;

    transform-style:preserve-3d;
}

.book-spine{

    width:18px;

     background: color-mix(in srgb, var(--book-color) 70%, black);

    border-radius:8px 0 0 8px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    align-items:center;

    padding:14px 4px;
}

.spine-title{

    writing-mode:vertical-rl;

    transform:rotate(180deg);

    font-size:.9rem;

    font-weight:700;

    letter-spacing:2px;
}
.spine-year{

    writing-mode:vertical-rl;

    transform:rotate(180deg);

    font-size:.9rem;

    font-weight:700;

    letter-spacing:2px;
}

.book-cover{

    width:250px;

    background:var(--book-color);

    padding:26px;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    position:relative;

     border-radius: 0 10px 10px 0;
}

.cover-project{

    font-size:.8rem;

    letter-spacing:4px;

    color:#d7c9a0;
}

.cover-art{

    position:absolute;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:.18;

    pointer-events:none;
}

.art-1::before{

    content:"";

    width:180px;

    height:180px;

    border:4px solid white;

    transform:rotate(45deg);
}

.art-2::before{

    content:"◎";

    font-size:12rem;
}

.art-4::before{

    content:"┃";

    font-size:14rem;
}

.cover-content{

    position:relative;

    z-index:2;
}

.cover-content h2{

    font-size:2.3rem;

    line-height:.95;

    font-weight:800;

    margin-bottom:16px;
}

.cover-content p{

    opacity:.75;

    font-size:1rem;
}

.cover-footer{

    display:flex;

    flex-direction:column;

    gap:18px;
}

.cover-footer span{

    width:100%;

    height:2px;

    background:#D6B56A;
}

.cover-footer p{

    color:#D6B56A;

    letter-spacing:5px;
}

.book-pages{

    width:8px;

    background: linear-gradient(
        to right,
        #f8f4ec,
        #ebe3d5,
        #ffffff
    );

    border-radius:0 6px 6px 0;
}

.book:hover .book-shell{

    transform:

        rotateY(-12deg)

        translateY(-12px);

}

.book-shell{

    width:100%;

    display:flex;
}

.book-spine{

    flex:0 0 18px;
}

.book-cover{

    flex:1;
}

.book-pages{

    flex:0 0 6px;
}