.navbar{
    position:fixed;
    top:0;
    left:0;

    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:28px 8%;

    z-index:1000;

    transition:
        padding .35s ease,
        background .35s ease,
        backdrop-filter .35s ease,
        box-shadow .35s ease;
}

.navbar.scrolled{

    padding:18px 8%;

    background:rgba(17,17,17,.82);

    backdrop-filter:blur(18px);

    box-shadow:
        0 8px 30px rgba(0,0,0,.28);
}

.logo{

    font-size:1.45rem;

    font-weight:800;

    letter-spacing:3px;

    cursor:pointer;

    user-select:none;

    transition:
        transform .3s ease,
        letter-spacing .3s ease;
}

.logo span{

    color:#E63946;

    transition:
        color .3s ease,
        text-shadow .3s ease;
}

.logo:hover{

    transform:translateY(-2px);

    letter-spacing:4px;
}

.logo:hover span{

    text-shadow:
        0 0 12px rgba(230,57,70,.6);
}

nav {
  display: flex;
  gap: 36px;
}

nav a{

    position:relative;

    color:#9A9A9A;

    text-decoration:none;

    transition:
        color .3s ease;
}

nav a:hover{

    color:white;
}

nav a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:100%;

    height:2px;

    background:#E63946;

    transform:scaleX(0);

    transform-origin:left;

    transition:.3s;
}

nav a:hover::after{

    transform:scaleX(1);
}

nav a.active{

    color:white;
}

nav a.active::after{

    transform:scaleX(1);
}